<h1 id="h10">Přihlášení</h1>

<form action="/action_page.php" id="div4">
    <label for="fname">Username:</label><br>
    <input type="text" id="fname" name="fname" value=""><br>
    <label for="password">Heslo:</label><br>
    <input type="password" id="password" name="Heslo" value=""><br><br>
    <input type="submit" value="Přihlásit">
</form>