<h1 id="h10">Registrace</h1>

<form action="/action_page.php" id="div4">
    <label for="fname">Username:</label><br>
    <input type="text" id="fname" name="fname" value=""><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="Email" value=""><br><br>
    <label for="password">Heslo:</label><br>
    <input type="password" id="password" name="Heslo" value=""><br><br>
    <label for="password">Heslo znovu:</label><br>
    <input type="password" id="password2" name="Hesloznovu" value=""><br><br>

    <input type="submit" value="Registrovat">
</form>