html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.nadpis {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

body {
    background-image: url(/obrazky/background.png);
}

#wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.imgbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imgbox2 {
    margin-left: 220px;
}


#wrapper2 {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

#maindiv {
    background: rgba(0,0,0,0.4);
    width: 820px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    box-shadow: 0px 0px 10px aqua;
}

#maindiv2 {
    background: rgba(0,0,0,0.4);
    width: 1500px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    box-shadow: 0px 0px 10px aqua;
}

#h10 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#div2 {
    background: rgba(0,0,0,0.4);
    width: 320px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    box-shadow: 0px 0px 10px aqua;
    text-align: center;
    color:white;
    padding-bottom:20px;
}

#div4{
    background: rgba(0,0,0,0.4);
    width: 320px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    box-shadow: 0px 0px 10px aqua;
    text-align: center;
    color: white;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#div3 {
    background: rgba(0,0,0,0.4);
    width: 370px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    box-shadow: 0px 0px 10px aqua;
    text-align: center;
    margin-left: 385px;
    padding-left: 10px;
}

#h21 {
    text-align: center;
}

#levels {
    width: 650px;
    height: 430px;
    margin-left: 40px;
}

#diff {
    width: 650px;
    height: 430px;
    margin-left: 40px;
}

#button1 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

    #button1 button {
        padding: 10px 20px;
        font-size: 16px;
    }

#rank {
    padding-top: 100px;
    justify-content: center;
}

#bt2 {
    margin-left: 890px;
    margin-top: 50px;
}

.tb1, td {
    margin-left: 440px;
    border: solid, black, 3px;
}

    td:hover {
        cursor: pointer;
        background: rgba(0,0,0,0.6);
        color: beige;
    }

button,
#button1 button,
#bt2 button,
button.btn {
    display: inline-block;
    appearance: none;
    background: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    border: solid 1px black;
}


    button:hover,
    #button1 button:hover,
    #bt2 button:hover,
    button.btn:hover {
        background-color: rgb(1, 1, 88);
    }

.hlavicka {
    background: rgba(0, 102, 255, 0.18);
    height: 10vw;
}

.menu {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

    .menu a {
        text-decoration: none;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        margin: 15px;
        padding-bottom: 5px;
    }

        .menu a:hover {
            border-bottom: 3px solid purple;
        }


