@{
    ViewData["Title"] = "Editor levelů";
}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor levelů</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="hlavicka">
        <nav class="menu">
            <a asp-controller="Home" asp-action="Index"> Domů </a>
            <a asp-controller="Home" asp-action="Creator"> Creator </a>
            <a asp-controller="Home" asp-action="Index2"> Platformer  </a>
        </nav>
    </header>
    
    <h1 class="nadpis">Editor levelů</h1>
    <div id="wrapper">
    <div id="maindiv2">
        <h2 id="h21">Co to je?</h2>
        <p>Důležitou součástí hry geometry dash je <strong>editor levelů</strong>, který může používat
        každý uživatel se zakoupenou hrou. V editoru levelů se zrodili jedny z nejtěžších ale zároveň 
        nejzajímavějších levelů vůbec. Proto abyste ho mohli používat nepotřebujete vůbec nic, pouze nápad
        a trochu času. Potom co level vytvříte se přidá do listu vytvořených levelů a tam si ho může každý 
        uživatel stáhnout a zahrát. Jeho počáteční status je "unrated", a první uživatel který ho dohraje 
        celý ho "ověří". Potom co se level ověří dostane to info právě RobTop a ten ohodnotí jeho obtížnost
        právě už ukázanou tabulkou obtížností.</p>
    </div>
    

</div>
<h2 class="nadpis">Oficiální ranking nejtěžších levelů na světě </h2>
<div class="imgbox2">
    <img src="/obrazky/n1.png" >
    <img src="/obrazky/n2.png" >
    <img src="/obrazky/n3.png" >
    <img src="/obrazky/n4.png" >
    <img src="/obrazky/n5.png" >
    <img src="/obrazky/n6.png" >
    <img src="/obrazky/n7.png" >
    <img src="/obrazky/n8.png" >
    <img src="/obrazky/n9.png" >
    <img src="/obrazky/n10.png" >
</div>

<div id="bt2">
<a asp-controller="Home" asp-action="Index"><button>Zpět</button></a>
<a asp-controller="Home" asp-action="Index2"><button>Další stránka</button></a>    
</div>

</div>
</body>
</html>
